<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>LOADING...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loadstyle.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon3.png') }}">
</head>
<body>
    <div class="skill">
        <div class="outer">
            <div class="inner">
                <div id="number">
                    <p>Loading...</p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="0%" stop-color="#e91e63" />
                </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
    </div>
    <script>
        window.onload = function() {
            // Set the time in milliseconds to display the page (8 seconds in this example)
            var displayTime = 1000;
            // Set a timeout to redirect back to the starting page after the display time
            setTimeout(function() {
                // Redirect to the result page using Flask's URL routing
                window.location.href = '{{ url_for('predict_datapoint') }}';
            }, displayTime);
        }
    </script>
</body>
</html>
